.box-search {
    background-color: #e6f7ff;
    border-radius: 16px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 30px auto;
    padding-left: 40px;
    width: 90%;
    height: 270px;
}

input {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-sizing: border-box;
    color: #bfbfbf;
    font-size: 16px;
    line-height: 24px;
    width: 50%;
}

input.submit-button {
    background-color: #1890ff;
    border: none;
    border-radius: 5px 5px 5px 5px;
    color: #fff;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 35px;
    transition: .5s;
    height: 40px;
    width: 100px;
}

input.submit-button:hover{
    background-color: #3186D6;
}

h1 {
    margin-top: 60px;
    /* margin-left: 95px; */
}